body {
    margin: 0;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

/*<span>Photo by <a href="https://unsplash.com/@syinq?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Susan Yin</a> on <a href="https://unsplash.com/s/photos/books?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
.hero {
    background-image: url("../images/books.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 150px 0;
}

.beforeresults {
    padding-top: 50px;
    
}

.herotext {
    color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: white;
    font-size: 100px;
}

